.subjectInput{
    border: none;
    padding: 10px;
    background-color:  #D3D3D3;
}

.addButton{
    padding: 10px;
    background-color: #0070f3;
    padding-bottom: 7px;
    border: none;
    margin: 5px;
    border-radius: 10px;
}